<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://jan25instance.cwf2xyclvqxz.us-east-1.rds.amazonaws.com:5432/postgres</property>
        <!-- hide the username and password
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password2021</property>
		-->        
		 
		<property name="hibernate.connection.provider_class">com.revature.util.NewDBConnectionProvider</property>
            
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- format SQL -->
		<property name="hibernate.format_sql">true</property>
       
        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
  
        <!-- Annotated entity classes -->
        <mapping class="com.revature.model.Employee"/>
        <mapping class="com.revature.model.EmployeeRole"/>
        <mapping class="com.revature.model.EmployeeMgr"/>
        <mapping class="com.revature.model.EmployeeMgrId"/>
        <mapping class="com.revature.model.ReimbReqStatus"/>
        <mapping class="com.revature.model.ReimbRequest"/>
        <mapping class="com.revature.model.ReimbReqDetail"/>        
    </session-factory>
</hibernate-configuration>